div(ng-controller="myModuleSidebarCtrl as sidebar")
      p current message: {{sidebar.newMessage}}

      button.btn.btn-info(
            type="submit"
            aria-label="Get data"
            ng-click="sidebar.acquireData()"
            tooltip-placement="right"
      )
            | Get Data


